@import "tailwindcss";

@theme {
  --color-primary: #FE951D;
  --color-secondary: oklch(95.1% 0.026 236.824);
  --color-cta:oklch(72.3% 0.219 149.579);
}
@layer base {
  summary::-webkit-details-marker {
    display: none;
  }
}

.button-bg:hover {
  background-color: var(--color-cta);
}
