@import "tailwindcss";

@theme {
  --color-primary: oklch(77.8% 0.18 55.9);
  --color-secondary: oklch(95.1% 0.026 236.824);
  --color-cta:oklch(72.887% 0.21192 147.841);
}
@layer base {
  summary::-webkit-details-marker {
    display: none;
  }
}

.button-bg:hover {
  background-color: var(--color-cta);
}
