<section class="relative h-3/4 pb-20 
  bg-[linear-gradient(to_bottom,white_0%,transparent_20%,transparent_100%)]">

    <div class="grid grid-cols-1 place-items-center md:grid-cols-2 px-4 md:max-w-3/4 mx-auto md:gap-8">
      <h1 class="text-4xl mb-8 mt-12 text-center md:col-span-2 md:justify-self-start">{{ page.title }}</h1>
      <p class="text-l mb-12 place-self-center ">{{ page.subtitle }}</p>
      <a href="#" class="group bg-primary rounded-full px-8 py-4 md:place-self-start">{{ page.cta }}</a>
    </div>

</section>
