<section class="bg-white">
  <h1 class="text-center">
    Mes réalisations (écrit à la main)
  </h1>
  <div class="md:grid md:grid-cols-3 md:gap-8 max-w-6xl mx-auto px-4
              flex overflow-x-auto snap-x snap-mandatory scroll-smooth
              md:overflow-x-visible pb-6 md:pb-0 scrollbar-hide">

    <!-- Carte 1 -->
    <article class="flex-shrink-0 w-4/5 md:w-auto snap-center md:snap-align-none
                    bg-slate-100 rounded-lg p-6 ">
                      {% include components/double-quotes.svg.html %}
                    <p>Première carte</p>
    </article>

    <!-- Carte 2 -->
    <article class="flex-shrink-0 w-4/5 md:w-auto snap-center md:snap-align-none
                    bg-slate-100 rounded-lg p-6 ml-4 md:ml-0">
      Deuxième carte
    </article>

    <!-- Carte 3 -->
    <article class="flex-shrink-0 w-4/5 md:w-auto snap-center md:snap-align-none
                    bg-slate-100 rounded-lg p-6 ml-4 md:ml-0">
      Troisième carte
    </article>

    <!-- Carte 4 -->
    <article class="flex-shrink-0 w-4/5 md:w-auto snap-center md:snap-align-none
                    bg-slate-100 rounded-lg p-6 ml-4 md:ml-0">
      Quatrième carte
    </article>
  </div>
</section>
