<!DOCTYPE html>
<html lang='{{ site.lang | default: "fr-FR" }}'>
  <head>
    <!-- Meta robots pour éviter l'indexation des pages légales -->
    <meta name="robots" content="noindex, nofollow">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    {% if page.redirect_to %}
      <meta http-equiv="refresh" content="0; url={{ page.redirect_to }}">
    {% endif %}
    {% if site.favicon %}
      <link rel="icon" href="{{ site.favicon | relative_url }}">
    {% endif %}
    {% if site.description %}
      <meta name="description" content="{{ page.description | default: site.description }}">
    {% endif %}
    {% if site.author %}
      <meta name="author" content="{{ site.author }}">
    {% endif %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </head>
  <body>
    {% include sections/header.html %}
    <main>
      <div class="mx-auto max-w-4xl px-4 py-8 [&>h1]:text-4xl [&>h1]:text-center [&>h1]:my-8 [&>h2]:text-2xl [&>h2]:my-4 [&>p]:text-justify">
        {{ content }}
      </div>
    </main>
    {% include sections/footer.html %}

  </body>
</html>
